@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-poppins: "Poppins";
    --font-balo: "Baloo Bhaina 2";
}

@layer utilities {
    .shadow-custom:hover {
        box-shadow: inset 4px 4px 10px var(--color-shadow),
            1px 4px 4px -1px var(--color-shadow);
    }
    .shadow-custom {
        transition: box-shadow 0.3s ease;
        box-shadow: inset 2px 2px 10px var(--color-shadow),
            1px 1px 2px -1px var(--color-shadow);
    }
    .scrollbar::-webkit-scrollbar {
        width: 6px;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background-color: rgb(187, 187, 187);
        border-radius: 30px;
    }
    .text-stroke {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
    }
}

.tippy-box[data-theme~="liquid"] {
    background: var(--color-shadow);
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    border-radius: 14px;
    border: 1px solid var(--color-shadow);
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.22);
    color: #969696;
    letter-spacing: -1px;
    font-family: "Baloo Bhaina 2";
    font-weight: bold;
    font-size: 16px;
    padding: 0px 12px;
    position: relative;
}

/* Beautiful glossy highlight */
.tippy-box[data-theme~="liquid"]::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.05)
    );
    pointer-events: none;
}
/* Arrow support */
.tippy-box[data-theme~="liquid"] > .tippy-arrow::before {
    /* background: rgba(255, 255, 255, 0.3); */
    backdrop-filter: blur(18px) saturate(180%);
    /* border: 1px solid rgba(255, 255, 255, 0.4); */
    color: rgba(255, 255, 255, 0.4);
    transform: translateX(-1.5px);
}

.tippy-box[data-animation="apple"][data-state="hidden"] {
    transform: translateY(-4px);
    opacity: 0;
}

.tippy-box[data-animation="apple"][data-state="visible"] {
    transform: translateY(0);
    opacity: 1;
    transition: all 260ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.tooltip-trigger {
    --tippy-color: var(--color-light);
}

.dark .tooltip-trigger {
    --tippy-color: var(--color-dark);
}
