@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';


@custom-variant dark (&:where(.dark, .dark *));
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-poppins : 'Poppins';
    --font-balo : 'Baloo Bhaina 2';
}

@layer utilities {
    .shadow-custom:hover {
        box-shadow: inset 4px 4px 10px var(--color-shadow),
            1px 4px 4px -1px var(--color-shadow);
    }
    .shadow-custom {
        transition: box-shadow 0.3s ease;
        box-shadow: inset 2px 2px 10px var(--color-shadow),
            1px 1px 2px -1px var(--color-shadow);
    }
}

