html{
    transition: all 0.5s ease;
}

@keyframes waveIn {
    0% {
        clip-path: circle(0% at 90% 10%);
    }
    100% {
        clip-path: circle(150% at 90% 10%);
    }
}

@keyframes waveOut {
    0% {
        clip-path: circle(150% at 90% 10%);
    }
    100% {
        clip-path: circle(0% at 90% 10%);
    }
}

.theme-animation-dark::before {
    content: "";
    position: fixed;
    inset: 0;
    background: #192132;
    animation: waveIn 2.6s cubic-bezier(0, 0, 0, 0.84) forwards;
    z-index: -1;
    pointer-events: none;
}
.theme-animation-light::before {
    content: "";
    position: fixed;
    inset: 0;
    background: #d9d9d9;
    animation: waveIn 2.6s cubic-bezier(0, 0, 0, 0.84) forwards;
    z-index: -1;
    pointer-events: none;
}


